@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

body {
    background-color: hsl(0, 0%, 20%);
    color:  hsl(0, 0%, 64%);
    font-family: 'Source Sans Pro', sans-serif;
}

select, button {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 84%);
    font-family: inherit;
    font-size: 1rem;    
}

html {
    box-sizing: border-box;
    font-size: 100%;
}